.work-item {
  background-image: url(@/assets/bg1.png), url("@/assets/bg2.png");
  background-repeat: no-repeat;
  background-position: 0px 2px, calc(100% - 12px) 100%;
}

.item {
  display: flex;
  flex-direction: column;
  width: 25%;
  overflow: hidden;
  margin: 0 10px;
}

.item p:first-child {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item P:last-child {
  margin: 0px;
  font-size: 12px;
  color: #91a7dc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.count {
  background-image: url("@/assets/bg3.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.first {
  background: url("@/assets/金牌.png") no-repeat;
}

.second {
  background: url("@/assets/银牌.png") no-repeat;
}

.third {
  background: url("@/assets/铜牌.png") no-repeat;
}

.default {
  background: url("@/assets/默认.png") no-repeat;
}

.first,
.second,
.third,
.default {
  background-position: center center;
}

.info {
  background: linear-gradient(135deg, transparent, #f8f8f9 0) 0 0,
    linear-gradient(-135deg, transparent 12px, #f8f8f9 0) 100% 0,
    linear-gradient(-45deg, transparent, #f8f8f9 0) 100% 100%,
    linear-gradient(45deg, transparent 12px, #f8f8f9 0) 0 100%;
  background-size: 50% 50%;
  width: 150px;
  height: 230px;
  background-repeat: no-repeat;
}
